# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Base de datos
*.db
*.sqlite
*.sqlite3
data/

# Variables de entorno
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Docker
.dockerignore